@charset "utf-8";

/* CSS Document */

@font-face {
    font-family: "Enriqueta";
    src: url(../fonts/Bitter.otf) format("truetype");
	
}

@font-face {
	    font-family: "LibreBaskerville";
    src: url(../fonts/LibreBaskerville.otf) format("truetype");
}


button {
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444; 
     cursor: pointer;
}

.ui-dialog .ui-dialog-titlebar {
display: none;

}
.ui-dialog .ui-dialog-content {
padding-left: 20px;
    font-size:18px;
color: #353333; 
background-color: rgba(255, 255, 255, 0.5);
	overflow: auto;
}



.submit_button{
height: 20px; 
width: 100px; 
margin: -20px -50px; 
position: relative; 
top: 50%; 
left: 50%;
}


/* external css: flickity.css */
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #FAFAFA;
}



.carousel {
  background: #EEE;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

.carousel-offer {
  margin-right: 20px;
  overflow: hidden;
border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-offer img {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 495px;
  }
}




.offer_images
{
float:left;
width:33%;	
}

img{
display: block;
margin-left: auto;
margin-right: auto;	
}

.caption {
position: absolute;
top: 25%;
padding-left: 20px;
width: 400px;
color: #353333; 
font: bold 24px/45px Helvetica, Sans-Serif; 
letter-spacing: -1px; 
line-height: 130%;
background-color: rgba(255, 255, 255, 0.5);
font-size: 4vh;
}


h4 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

body {
	margin: 40px auto;
	width: 1000px;
	background-image: url("../images/ice_age.png");
    background-repeat: repeat;
}
nav ul, footer ul {
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	padding: 0px;
	list-style: none;
	font-weight: bold;
}
nav ul li, footer ul li {
	display: inline;
	margin-right: 20px;
}
a {
	text-decoration: none;
	color: #111;
}
a:hover {
	text-decoration: underline;
}
h1 {
	color:#353333;
	font-family: 'Enriqueta', arial, serif;
	text-align: center;
	line-height: 1.25;
	margin: 0 0 10px;
	font-size: 60px;
	font-weight: bold;
}
h2 {
	font-size: 30px;
	letter-spacing: -1px;
	color: #515151;
	text-transform: uppercase;
	margin: 10px 0 24px;
	text-align: left;
	line-height: 50px;
}
p {
	color:#353333;
	font-size: 18px;
	font-family: "LibreBaskerville", serif;
	text-align: left;
	text-shadow: 0 1px 1px #fff;
}
p.byline {
	font-style: italic;
	color: #B6B6B6;
	font-size: 24px;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
}
footer {
	border-top: 1px solid #d5d5d5;
	font-size: .8em;
}
#rotating-item-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
.rotating-item {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
li a, .dropbtn {
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {}
li.dropdown {
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover {
	background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
	display: block;
}
#background {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
	/* Ensure div tag stays behind content; -999 might work, too. */
}
.stretch {
	width: 100%;
	height: 100%;
}
.information {
	line-height: 1px;
	color: #333;
}
.wrapper {
	width: 100%;
	overflow: hidden;
}
.container {
	width: 100%;
	display: inline-block;
	position: relative;
	margin: 1%;
}
.banner-img {
	width: 100%;
}
.profile {
	width: 180px;
	height: 202px;
}
html, body {
	height: 100%;
}
#wrap {
	min-height: 100%;
}
#main {
	overflow: auto;
	padding-bottom: 180px;
}

/* must be same height as the footer */

.footer {
	position: relative;
	clear: both;
	border-top: 1px solid #d5d5d5;
	font-size: .8em;
}

/*Images in a row*/

.img_line {
	display: inline-block;
	width: 100px;
	height: 100px;
}
.img_line:after {
	content: '';
	display: inline-block;
	width: 100%;
}
.img_line_2 {
	display: inline-block;
	width: 200px;
	height: 100px;
}

/*Submit Form*/

.error {
	background-color: #FFDFDF;
	color: red;
}
input, textarea {
	line-height: 30px;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, .6);
	border: solid 1px #b6c7cb;
}
#parent {
	display: table;
	width: 100%;
}
#form_login {
	width: 90%;
	margin: 4%;
	text-align: left;
	vertical-align: middle;
}
.mySlides {
	display: none;
}
.w3-animate-fading {
	-webkit-animation: fading 10s infinite;
	animation: fading 10s infinite
}
@-webkit-keyframes fading {
	0% {
		opacity: 0
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
@keyframes fading {
	0% {
		opacity: 0
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}
.w3-animate-opacity {
	-webkit-animation: opac 0.8s;
	animation: opac 0.8s
}
.w3-content {
	max-width: 980px;
	margin: auto
}
.w3-section {
	margin-top: 16px!important;
	margin-bottom: 16px!important
}
.left_lane {
	display: inline-block;
	position: relative;
	margin: 1%;
	float: left;
	width: 75%;
	clear: both;
}
.right_lane {
	display: inline-block;
	position: relative;
	margin: 1%;
	float: right;
	width: 48%;
	height: 430px;

}
.bottom_lane {
	display: inline-block;
	position: relative;
	margin: 1%;
	float: right;
	width: 20%;

}